:root {

  @media (max-width: 1024px) {
    font-size: 12px;
  }
}

button{
  border: 1px solid lime;
  padding: 10px;
  border-radius: 15px;
  background-color: aqua;
}

button:hover{
  cursor: pointer;
  background-color: aliceblue;
}